.login {
    /* display: flex; */
    /* flex-direction: column; */
    border: 0.1rem solid rgb(221, 218, 218);
    text-align: center;
    height: 60vh;
    width: 30vw;
    position: absolute;  
    right: 10vh;  
    top: 20vh;
    background-color: #E1EBEE;
    border-radius: 1rem;
    box-shadow: 6px 5px 10px 3px #002244;
}

.loginPage img{
    position: absolute;
    top: -1rem;
    left: 5rem;
    height: 44rem;
    width: 44rem;
}

#heading {
    margin-top: 1rem;
    color: rgb(211, 3, 226)(238, 0, 255);
}

.inputFields >input{
    font-size: 1rem;
    display: flex;
    /* color: blue; */
    size: 2rem;
    height: 2.4rem;
    width: 80%;
    margin: 1rem 1rem 1rem 2.8rem;
    border-radius: 1rem;
    padding: 1rem;
}

.loginBtn{
    margin-top: 2rem;
    height: 2.4rem;
    width: 70%;
    size: 2rem;
    border-radius: 1rem;
    color: white;
    background-color: rgb(0, 71, 119);
    cursor: pointer;
}

.loginImage{
    height: 60vh;
}

.toRegister{
    font-size: 1.1rem;
    margin-top: 2.4rem;
    text-align: center;
}

.toActivate{
    font-size: 1.1rem;
    margin-top: 2.4rem;
    text-align: center;
}

.registerBtn{
    color: rgb(66, 66, 224);
    cursor: pointer;
}

.activateBtn{
    color: rgb(66, 66, 224);
    cursor: pointer;
}